/**
 * @name: RequisiteUI
 * @author: 刘叔
 * @host: requisiteui.com
 */


/* 默认字体 */

html, body {width: 100%;margin: 0; font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}

/* 默认字体 */


/* 响应式布局 -- Start */

@media screen and (max-width: 767px) {
    .rui-layout {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;width: 100%;}
    .rui-row {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;width: 100%;}
    .rui-col1 {width: 100%; margin-top: 10px;}
    .rui-col2 {width: 100%; margin-top: 10px;}
    .rui-col3 {width: 100%; margin-top: 10px;}
    .rui-col4 {width: 100%; margin-top: 10px;}
    .rui-col5 {width: 100%; margin-top: 10px;}
    .rui-col6 {width: 100%; margin-top: 10px;}
    .rui-col7 {width: 100%; margin-top: 10px;}
    .rui-col8 {width: 100%; margin-top: 10px;}
    .rui-col9 {width: 100%; margin-top: 10px;}
    .rui-col10 {width: 100%; margin-top: 10px;}
    .rui-col11 {width: 100%; margin-top: 10px;}
    .rui-col12 {width: 100%; margin-top: 10px;}
}

@media screen and (min-width: 768px) {
    .rui-layout {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;width: 100%;}
    .rui-row {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;width: 100%;}
    .rui-col1 {width: 8.33333333%;}
    .rui-col2 {width: 16.66666667%;}
    .rui-col3 {width: 25%;}
    .rui-col4 {width: 33.33333333%;}
    .rui-col5 {width: 41.66666667%;}
    .rui-col6 {width: 50%;}
    .rui-col7 {width: 58.33333333%;}
    .rui-col8 {width: 66.66666667%;}
    .rui-col9 {width: 75%;}
    .rui-col10 {width: 83.33333333%;}
    .rui-col11 {width: 91.66666667%;}
    .rui-col12 {width: 100%;}
}

/* 响应式布局 -- End */


/* 颜色 -- Start */

.rui-color-white {color: #FFFFFF;}
.rui-color-red {color: #C9302C;}
.rui-color-orange {color: #FFFFFF;}
.rui-color-yellow {color: #E5B51C;}
.rui-color-green {color: #449D44;}
.rui-color-cyan {color: #007D3D;}
.rui-color-blue {color: #337AB7;}
.rui-color-skyblue {color: #31B0D5;}
.rui-color-gray {color: #9D9D9D;}
.rui-color-black {color: #212122;}

.rui-bg-white {background-color: #FFFFFF;}
.rui-bg-red {background-color: #C9302C;}
.rui-bg-orange {background-color: #FFFFFF;}
.rui-bg-yellow {background-color: #E5B51C;}
.rui-bg-green {background-color: #449D44;}
.rui-bg-cyan {background-color: #007D3D;}
.rui-bg-blue {background-color: #337AB7;}
.rui-bg-skyblue {background-color: #31B0D5;}
.rui-bg-gray {background-color: #9D9D9D;}
.rui-bg-black {background-color: #212122;}


/* 颜色 -- End */


/* 内容面板 -- Start */

details>summary {cursor: pointer; outline: 0;}
fieldset>legend {color: #333333; font-size: 18px; padding: 0 10px;}
.rui-panel, details, fieldset{border-radius: 0;border: 1px solid #DDDDDD;width: 100%;display: flex;flex-direction: column;box-shadow: 0 1px 1px rgba(0, 0, 0, .05);box-sizing: border-box;font-size: 14px;font-weight: 400;}
.rui-panel>.rui-panel-head, details>summary, blockquote {color: #333333;background-color: #F5F5F5;border-bottom: 1px solid #DDDDDD;padding: 10px 15px;}
.rui-panel>.rui-panel-body, details>section, fieldset>section {color: #666666;padding: 15px;}
.rui-panel-green {border-color: #D6E9C6;}
.rui-panel-green>.rui-panel-head, .rui-panel-green>summary, .rui-blockquote-green {color: #3C763D; background-color: #DFF0D8;border-color: #D6E9C6;}
.rui-panel-blue {border-color: #337AB7;}
.rui-panel-blue>.rui-panel-head, .rui-panel-blue>summary {color: #FFFFFF; background-color: #337AB7;border-color: #337AB7;}
.rui-panel-skyblue {border-color: #BCE8F1;}
.rui-panel-skyblue>.rui-panel-head, .rui-panel-skyblue>summary, .rui-blockquote-skyblue {color: #31708F; background-color: #D9EDF7; border-color: #BCE8F1;}
.rui-panel-yellow {border-color: #FAEBCC;}
.rui-panel-yellow>.rui-panel-head, .rui-panel-yellow>summary, .rui-blockquote-yellow {color: #8A6D3B; background-color: #FCF8E3; border-color: #FAEBCC;}
.rui-panel-red {border-color: #EBCCD1;}
.rui-panel-red>.rui-panel-head, .rui-panel-red>summary, .rui-blockquote-red {color: #A94442; background-color: #F2DEDE;border-color: #EBCCD1;}
blockquote {margin: 0; width: calc(100%-30px); padding: 20px 10px;}

/* 内容面板 -- End */


/* 按钮 -- Start */

.rui-btn, button {padding:7px 12px;font-size:14px;color: #FFFFFF; background-color: #337AB7;border:none;border-radius:0;cursor: pointer;outline: none;text-decoration: none; -webkit-transition:border .25s linear,color .25s linear,background-color .25s linear;transition:border .25s linear,color .25s linear,background-color .25s linear;}
.rui-btn:hover, .rui-btn:focus, button:hover, button:focus {background-color:#286090;}
.rui-btn:disabled, button:disabled, .rui-btn-disabled {opacity: .65; pointer-events: none; cursor: not-allowed;}
input[type="button"], input[type="submit"], input[type="reset"] {padding:7px 12px;font-size:14px;border:none;border-radius:0;cursor: pointer;outline: none;-webkit-transition:border .25s linear,color .25s linear,background-color .25s linear;transition:border .25s linear,color .25s linear,background-color .25s linear;}
.rui-btn-sm {padding:5px 12px; font-size: 13px;}
.rui-btn-lg {padding:12px 13px; font-size: 15px;}
.rui-btn-blue {color: #FFFFFF; background-color: #337AB7;}
.rui-btn-blue:hover, .rui-btn-blue:focus {background-color: #286090;}
.rui-btn-white {color: #212122; background-color: #FFFFFF;}
.rui-btn-white:hover, .rui-btn-white:focus {background-color: #E6E6E6;}
.rui-btn-red {color: #FFFFFF; background-color: #D9534F;}
.rui-btn-red:hover, .rui-btn-red:focus {background-color: #C9302C;}
.rui-btn-yellow {color: #FFFFFF; background-color: #E5B51C;}
.rui-btn-yellow:hover, .rui-btn-yellow:focus {background-color: #EC971F;}
.rui-btn-green {color: #FFFFFF; background-color: #5CB85C;}
.rui-btn-green:hover, .rui-btn-green:focus {background-color: #449D44;}
.rui-btn-skyblue {color: #FFFFFF; background-color: #5BC0DE;}
.rui-btn-skyblue:hover, .rui-btn-skyblue:focus {background-color: #31B0D5;}
.rui-btn-black {color: #FFFFFF; background-color: #414142;}
.rui-btn-black:hover, .rui-btn-black:focus {background-color: #212122;}

/* 按钮 -- End */


/* 导航 -- Start */

nav, nav>div {background-color: #414142; display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 18px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 15px;font-family: 'Oswald', sans-serif;}
nav>a, nav>div>a {color: #9D9D9D; text-decoration: none; padding: 15px;-webkit-transition:border .25s linear,color .25s linear,background-color .25s linear;transition:border .25s linear,color .25s linear,background-color .25s linear;}
nav>a:hover, nav>div>a:hover, .rui-nav-action {background-color: #212121;color: #FFFFFF;}
nav>div {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; position: absolute;display: none;}
nav>div>a {width: 100%;}
nav>h1 {color: #5CB85C; width: 200px; font-size: 18px; text-align: center;}
.rui-nav-right {margin-left: auto;}
.rui-nav-column {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; max-width: 185px;font-size: 16px;}
.rui-nav-column>a {width: 100%;}
.rui-nav-column>div {position: static; background-color: #2C2C2C; width: 100%;font-size: 16px;}

/* 导航 -- End */


/* 表单 -- Start */

form, .rui-form {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
form *, .rui-form * {-ms-flex-item-align: baseline;align-self: baseline;}
form>h1, .rui-form>h1 {font-size: 16px; margin-top: 20px;margin-bottom: 2px;}
form>input, .rui-form>input, form>div, .rui-form>div {margin-top: 10px;}
form>input[type="submit"], .rui-form>input[type="submit"] {margin-top: 20px;}
form>div, .rui-form>div {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;}
form>div>*, .rui-form>div>* {margin-right: 10px;}
input, .rui-select-option-div>dl>dd, .rui-checkbox-label, .rui-checkbox-label-checked, .rui-radio-label, .rui-radio-label-checked, .rui-checkbox-label-disabled, .rui-checkbox-label-checked-disabled, .rui-radio-label-disabled, .rui-radio-label-checked-disabled, textarea {font-size: 14px; color: #555555; border-radius: 0;padding: 6px 12px;}
input, .rui-select-option-div>dl>dd, .rui-checkbox-label, .rui-checkbox-label-checked, .rui-radio-label, .rui-radio-label-checked, .rui-checkbox-label-disabled, .rui-checkbox-label-checked-disabled, .rui-radio-label-disabled, .rui-radio-label-checked-disabled {height: 35px;}
.rui-select-option-div>dl>dd,input[type="text"], input[type="password"], input[type="number"], input[type="search"], input[type="tel"], input[type="email"], input[type="url"], input[type="datetime"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"], textarea {border: 1px solid #CCCCCC; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075); box-shadow: 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;}
.rui-select-option-div>dl,.rui-select-option-div>dl>dd,input[type="text"], input[type="password"], input[type="number"], input[type="search"], input[type="tel"], input[type="email"], input[type="url"], input[type="datetime"], textarea {width: 100%;}
.rui-select-option-div>dl>dd:hover,.rui-select-option-div>dl>dd:focus,input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="datetime"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime-local"]:focus, textarea:focus {border-color: #66AFE9; outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);}
input[type="checkbox"], input[type="radio"], select {display: none;}
textarea {min-height: 150px;}


/* 复选框 */
.rui-checkbox-label::before, .rui-checkbox-label-checked::before, .rui-checkbox-label-checked-disabled::before, .rui-checkbox-label-disabled::before  {position:absolute;top:4px;left:0;display:block;width:16px;height:16px;content:'';border:1px solid #C0C0C0;-webkit-transition:border .25s linear,color .25s linear,background-color .25s linear;transition:border .25s linear,color .25s linear,background-color .25s linear;}
.rui-checkbox-label, .rui-checkbox-label-checked, .rui-checkbox-label-checked-disabled, .rui-checkbox-label-disabled {cursor: pointer; height: 18px;padding-left: 20px;position: relative;}
.rui-checkbox-label-disabled, .rui-checkbox-label-checked-disabled {cursor: not-allowed;}
.rui-checkbox-label-disabled::before, .rui-checkbox-label-checked-disabled::before {background: #C0C0C0; }
.rui-checkbox-label-checked::after, .rui-checkbox-label-checked-disabled::after {position:absolute;top: 9px;left: 4px;width: 9px;height: 4px;content:'';border-bottom:2px solid #FFFFFF;border-left:2px solid #FFFFFF;-webkit-transform:rotate(-46deg);transform:rotate(-46deg);}
.rui-checkbox-label-checked::before {background: #3E97EB;border-color: #3E97EB;}
.rui-checkbox-label:hover::before, .rui-checkbox-label:focus::before {border-color: #3E97EB;}

/* 单选框 */
.rui-radio-label::before, .rui-radio-label-checked::before, .rui-radio-label-disabled::before, .rui-radio-label-checked-disabled::before {position:absolute;top:4px;left:0;display:block;width:16px;height:16px;border-radius: 16px; content:'';border:1px solid #C0C0C0; -webkit-transition:border .25s linear,color .25s linear,background-color .25s linear; transition:border .25s linear,color .25s linear,background-color .25s linear;}
.rui-radio-label, .rui-radio-label-checked, .rui-radio-label-disabled, .rui-radio-label-checked-disabled {cursor: pointer;padding-left: 20px;position: relative; height: 18px;}
.rui-radio-label-checked::after, .rui-radio-label-checked-disabled::after {position:absolute;top: 5px;left: 1px;width: 10px;height: 10px;content:'';border-radius: 10px;border: 3px solid #FFFFFF;}
.rui-radio-label-disabled, .rui-radio-label-checked-disabled {cursor: not-allowed;}
.rui-radio-label-checked-disabled::before {background: #C0C0C0;}
.rui-radio-label-checked::before {background: #3E97EB;border-color: #3E97EB;}
.rui-radio-label:hover::before, .rui-radio-label:focus::before {border-color: #3E97EB;}

/* 下拉选择框 */
.rui-select-option-div>dl>dd {border-top: 0;line-height: 25px;}
.rui-select-option-div>dl, .rui-select-option-div>dl>dd {margin: 0; font-size: 13px;}
.rui-select-option-div {display: none;width: calc(100% - 12px);}
.rui-select-div {display: block;min-width: 200px;width: 100%;}
.rui-select-div:focus {border: 0;outline: 0;}
.rui-select, .rui-select-option-div>dl>dd {cursor: pointer;}
.rui-select-input-div {display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;}
.rui-select-selected {background: #3E97EB;}
.rui-select {padding-right: 30px;width: 100%;}
.rui-select-down {width: 0;height: 0;border-radius: 0;border-left: 6px solid rgba(0, 0, 0, 0);border-right: 6px solid rgba(0, 0, 0, 0);border-top: 10px solid #C0C0C0;margin: 13px auto 0;position: relative;right: 22px;cursor: pointer;-webkit-transition: all .25s;transition: all .25s;}
.rui-select-icon-rotate {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.rui-select-search {cursor: text;}

/* 表单 -- End */


/* 表格 -- Start */

table {background-color: #FFFFFF;width: 100%;color: #666666;margin: 10px 0;border-collapse: collapse;border-spacing: 0;font-size: 14px;border: 1px solid #DBDBDB;}
table th, table td {text-align: left;margin: 0;padding: 10px 15px;border: 1px solid #DBDBDB;font-weight: 400;}
table>thead>tr, table>tfoot>tr {-webkit-transition: all .25s;transition: all .25s;background-color: #EEEEEE;}
table>tbody>tr {-webkit-transition: all .25s;transition: all .25s;}
table>tbody>tr:hover {background-color: #F2F2F2;}

/* 表格 -- End */


/* 弹出层 -- Start */

.rui-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.rui-popup-div {
    display: none;
    opacity: 0;
    position: fixed;
    top: calc(40% + 80px);
    left: 40%;
    z-index: 99999;
    background-color: #FFFFFF;
    transition: all .3s;
    border-radius: 0;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    min-width: 200px;
}

.rui-popup-div>.rui-popup-title {
    color: #333333;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 15px;
    font-size: 16px;
    width: calc(100% - 30px);
}

.rui-popup-div>.rui-popup-content {
    color: #666666;
    padding: 15px;
    font-size: 14px;
    width: calc(100% - 30px);
}

.rui-popup-div>.rui-popup-btn {
    padding: 10px;
    width: calc(100% - 20px);
    text-align: right;
}




/* 弹出层 -- End */
