
/* 响应式布局 -- Start */

@media screen and (max-width: 767px) {
    .rui-layout {
        display: flex;
        flex-direction: column;
    }
    .rui-row {
        display: flex;
        flex-direction: column;
    }
    .rui-col1 {
        width: 100%
    }
    .rui-col2 {
        width: 100%
    }
    .rui-col3 {
        width: 100%
    }
    .rui-col4 {
        width: 100%
    }
    .rui-col5 {
        width: 100%
    }
    .rui-col6 {
        width: 100%
    }
    .rui-col7 {
        width: 100%
    }
    .rui-col8 {
        width: 100%
    }
    .rui-col9 {
        width: 100%
    }
    .rui-col10 {
        width: 100%
    }
    .rui-col11 {
        width: 100%
    }
    .rui-col12 {
        width: 100%
    }
}

@media screen and (min-width: 768px) {
    .rui-layout {
        display: flex;
        flex-direction: column;
    }
    .rui-row {
        display: flex;
        flex-wrap: wrap;
    }
    .rui-col1 {
        width: 8.33%
    }
    .rui-col2 {
        width: 16.66%
    }
    .rui-col3 {
        width: 25%
    }
    .rui-col4 {
        width: 33.33%
    }
    .rui-col5 {
        width: 41.65%
    }
    .rui-col6 {
        width: 50%
    }
    .rui-col7 {
        width: 58.31%
    }
    .rui-col8 {
        width: 66.66%
    }
    .rui-col9 {
        width: 75%
    }
    .rui-col10 {
        width: 83.33%
    }
    .rui-col11 {
        width: 91.63%
    }
    .rui-col12 {
        width: 100%
    }
}

/* 响应式布局 -- End */
