/**
 * @name: RequisiteUI
 * @author: 刘叔
 * @host: requisiteui.com
 */


/* 默认字体 */

html, body {width: 100%;margin-top: 0px; margin-left: 0px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}

/* 默认字体 */


/* 响应式布局 -- Start */

@media screen and (max-width: 767px) {
    .rui-layout {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;width: 100%;}
    .rui-row {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;width: 100%;}
    .rui-col1 {width: 100%; margin-top: 10px;}
    .rui-col2 {width: 100%; margin-top: 10px;}
    .rui-col3 {width: 100%; margin-top: 10px;}
    .rui-col4 {width: 100%; margin-top: 10px;}
    .rui-col5 {width: 100%; margin-top: 10px;}
    .rui-col6 {width: 100%; margin-top: 10px;}
    .rui-col7 {width: 100%; margin-top: 10px;}
    .rui-col8 {width: 100%; margin-top: 10px;}
    .rui-col9 {width: 100%; margin-top: 10px;}
    .rui-col10 {width: 100%; margin-top: 10px;}
    .rui-col11 {width: 100%; margin-top: 10px;}
    .rui-col12 {width: 100%; margin-top: 10px;}
}

@media screen and (min-width: 768px) {
    .rui-layout {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;width: 100%;}
    .rui-row {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;width: 100%;}
    .rui-col1 {width: 8.33333333%;}
    .rui-col2 {width: 16.66666667%;}
    .rui-col3 {width: 25%;}
    .rui-col4 {width: 33.33333333%;}
    .rui-col5 {width: 41.66666667%;}
    .rui-col6 {width: 50%;}
    .rui-col7 {width: 58.33333333%;}
    .rui-col8 {width: 66.66666667%;}
    .rui-col9 {width: 75%;}
    .rui-col10 {width: 83.33333333%;}
    .rui-col11 {width: 91.66666667%;}
    .rui-col12 {width: 100%;}
}

/* 响应式布局 -- End */


/* 颜色 -- Start */

.rui-color-white {color: #FFFFFF;}
.rui-color-red {color: #C9302C;}
.rui-color-orange {color: #FFFFFF;}
.rui-color-yellow {color: #E5B51C;}
.rui-color-green {color: #449D44;}
.rui-color-cyan {color: #007D3D;}
.rui-color-blue {color: #337AB7;}
.rui-color-skyblue {color: #31B0D5;}
.rui-color-gray {color: #9D9D9D;}
.rui-color-black {color: #212122;}

.rui-bg-white {background-color: #FFFFFF;}
.rui-bg-red {background-color: #C9302C;}
.rui-bg-orange {background-color: #FFFFFF;}
.rui-bg-yellow {background-color: #E5B51C;}
.rui-bg-green {background-color: #449D44;}
.rui-bg-cyan {background-color: #007D3D;}
.rui-bg-blue {background-color: #337AB7;}
.rui-bg-skyblue {background-color: #31B0D5;}
.rui-bg-gray {background-color: #9D9D9D;}
.rui-bg-black {background-color: #212122;}


/* 颜色 -- End */


/* 内容面板 -- Start */

/* 手风琴 */

details {cursor: pointer; background: rgba(240, 240, 240, 0.1); border-radius: 2px 2px 2px 2px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #DDDDDD;}
details > summary {padding: 0px 15px 0 20px; background: rgba(240, 240, 240, 0.8); outline: none;height: 40px; line-height: 40px;}
details > section {padding: 10px 10px 10px 10px;}
/*summary::-webkit-details-marker{display: none;} 这是屏蔽图标的(图标模块还么做暂时保留)*/

/* 内容面板 -- End */


/* 按钮 -- Start */

.rui-btn, button {padding:7px 12px;font-size:14px;color: #FFFFFF; background-color: #337AB7;border:none;border-radius:0;cursor: pointer;outline: none;text-decoration: none; -webkit-transition:border .25s linear,color .25s linear,background-color .25s linear;transition:border .25s linear,color .25s linear,background-color .25s linear;}
.rui-btn:hover, .rui-btn:focus, button:hover, button:focus {background-color:#286090;}
.rui-btn:disabled, button:disabled, .rui-btn-disabled {opacity: .65; pointer-events: none; cursor: not-allowed;}
input[type="button"], input[type="submit"], input[type="reset"] {padding:7px 12px;font-size:14px;border:none;border-radius:0;cursor: pointer;outline: none;-webkit-transition:border .25s linear,color .25s linear,background-color .25s linear;transition:border .25s linear,color .25s linear,background-color .25s linear;}
.rui-btn-sm {padding:5px 12px; font-size: 13px;}
.rui-btn-lg {padding:12px 13px; font-size: 15px;}
.rui-btn-blue {color: #FFFFFF; background-color: #337AB7;}
.rui-btn-blue:hover, .rui-btn-blue:focus {background-color: #286090;}
.rui-btn-white {color: #212122; background-color: #FFFFFF;}
.rui-btn-white:hover, .rui-btn-white:focus {background-color: #E6E6E6;}
.rui-btn-red {color: #FFFFFF; background-color: #D9534F;}
.rui-btn-red:hover, .rui-btn-red:focus {background-color: #C9302C;}
.rui-btn-yellow {color: #FFFFFF; background-color: #E5B51C;}
.rui-btn-yellow:hover, .rui-btn-yellow:focus {background-color: #EC971F;}
.rui-btn-green {color: #FFFFFF; background-color: #5CB85C;}
.rui-btn-green:hover, .rui-btn-green:focus {background-color: #449D44;}
.rui-btn-skyblue {color: #FFFFFF; background-color: #5BC0DE;}
.rui-btn-skyblue:hover, .rui-btn-skyblue:focus {background-color: #31B0D5;}
.rui-btn-black {color: #FFFFFF; background-color: #414142;}
.rui-btn-black:hover, .rui-btn-black:focus {background-color: #212122;}

/* 按钮 -- End */


/* 导航 -- Start */

nav, nav>div {background-color: #414142; display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 18px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 15px;font-family: 'Oswald', sans-serif;}
nav>a, nav>div>a {color: #9D9D9D; text-decoration: none; padding: 15px;-webkit-transition:border .25s linear,color .25s linear,background-color .25s linear;transition:border .25s linear,color .25s linear,background-color .25s linear;}
nav>a:hover, nav>div>a:hover, .rui-nav-action {background-color: #212121;color: #FFFFFF;}
nav>div {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; position: absolute;display: none;}
nav>div>a {width: 100%;}
nav>h1 {color: #5CB85C; width: 200px; font-size: 18px; text-align: center;}
.rui-nav-right {margin-left: auto;}
.rui-nav-column {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; max-width: 185px;font-size: 16px;}
.rui-nav-column>a {width: 100%;}
.rui-nav-column>div {position: static; background-color: #2C2C2C; width: 100%;font-size: 16px;}

/* 导航 -- End */


/* 表单 -- Start */

form, .rui-form {display: flex; flex-direction: column;}
form *, .rui-form * {align-self: baseline;}
form>h1, .rui-form>h1 {font-size: 16px; margin-top: 20px;margin-bottom: 2px;}
form>input, .rui-form>input, form>div, .rui-form>div {margin-top: 10px;}
form>input[type="submit"], .rui-form>input[type="submit"] {margin-top: 20px;}
form>div, .rui-form>div {display: flex; flex-direction: row;}
form>div>*, .rui-form>div>* {margin-right: 10px;}
input, .rui-checkbox-label, .rui-checkbox-label-checked, .rui-radio-label, .rui-radio-label-checked {height: 35px;font-size: 14px; color: #555555; border-radius: 0;padding: 6px 12px;}
input[type="text"], input[type="password"], input[type="number"], input[type="search"], input[type="tel"], input[type="email"], input[type="url"], input[type="datetime"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"] {border: 1px solid #CCCCCC; box-sizing: border-box; cursor: text; box-shadow: 0 1px 1px rgba(0, 0, 0, .075); transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
input[type="text"], input[type="password"], input[type="number"], input[type="search"], input[type="tel"], input[type="email"], input[type="url"], input[type="datetime"] {width: 100%;}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="datetime"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime-local"]:focus {border-color: #66AFE9; outline: 0;box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);}
input[type="checkbox"], input[type="radio"] {display: none;}
.rui-checkbox-label::before, .rui-checkbox-label-checked::before  {position:absolute;top:4px;left:0;display:block;width:16px;height:16px;content:'';border:1px solid #C0C0C0;transition:border .25s linear,color .25s linear,background-color .25s linear;}
.rui-checkbox-label, .rui-checkbox-label-checked {cursor: pointer; height: 18px;padding-left: 20px;position: relative;}
.rui-checkbox-label-checked::after {position:absolute;top: 9px;left: 4px;width: 9px;height: 4px;content:'';border-bottom:2px solid #FFFFFF;border-left:2px solid #FFFFFF;transform:rotate(-46deg);}
.rui-checkbox-label-checked::before {background: #3E97EB;border-color: #3E97EB;}
.rui-checkbox-label:hover::before, .rui-checkbox-label:focus::before {border-color: #3E97EB;}
.rui-radio-label::before, .rui-radio-label-checked::before {position:absolute;top:4px;left:0;display:block;width:16px;height:16px;border-radius: 16px; content:'';border:1px solid #C0C0C0; transition:border .25s linear,color .25s linear,background-color .25s linear;}
.rui-radio-label, .rui-radio-label-checked {cursor: pointer;padding-left: 20px;position: relative; height: 18px;}
.rui-radio-label-checked::after {position:absolute;top: 5px;left: 1px;width: 10px;height: 10px;content:'';border-radius: 10px;border: 3px solid #FFFFFF;}
.rui-radio-label-checked::before {background: #3E97EB;border-color: #3E97EB;}
.rui-radio-label:hover::before, .rui-radio-label:focus::before {border-color: #3E97EB;}

/* 表单 -- End */
